.homepage {
	font-family: Times New Roman;
	color: black;
	text-align:center;
	font-size:72px;
}

.one{
	font-family: Times New Roman;
	color: black;
	background-color:#ffcccb;
}

.two{
	font-family: Times New Roman;
	color: black;
	background-color:Pink;
}

.three{
	font-family: Times New Roman;
	color: black;
	background-color:#ffbdac;
}


.indeximg {
	float:right;
	margin:90px
	
}


.index {
float:right;
	margin:90px
}

.pg {
float:right;
	margin:90px
}

.swim {
float:right;
	margin:40px
}

.cook {
float:right;
	margin:40px
}

.list {
float:left;

}


.HG {
	font-style:italic;
	font-weight:bold;
}

.CG {
	font-style:italic;
	font-weight:bold;
}

.good {
	font-style:italic;
	font-weight:bold;

}

.bad {
	font-style:italic;
	font-weight:bold;

}

.tab {
	border:solid;
}

